openapi: 3.0.1
info:
  title: DynamicAPI Self-Evolving Endpoints
  description: 'DynamicAPI is a self-evolving API service that allows for the dynamic generation of endpoints from JSON files. With the ability to create, list, and execute endpoints, DynamicAPI provides a flexible and efficient solution for expanding API functionality. Leveraging the power of ChatGPT, DynamicAPI aims to streamline the process of endpoint creation, making API development faster and more efficient.'
  version: 'v1.1'
servers:
  - url: https://dynamicapi.madebyaibots.com
paths:
  /csharp-hello-world:
    get:
      operationId: csharpHelloWorld
      responses:
        '200':
          description: A successful response
        '400':
          description: A bad request response
  /file-create:
    post:
      operationId: fileCreate
      parameters:
        - name: working-directory
          description: The base path where the file will be created.
          required: true
          schema:
            type: string
        - name: file-path
          description: The path of the file relative to the working directory.
          required: true
          schema:
            type: string
        - name: content
          description: The content to write to the file.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response
        '400':
          description: A bad request response
  /endpoint-list:
    get:
      operationId: endpointList
      responses:
        '200':
          description: A successful response
        '400':
          description: A bad request response