openapi: 3.0.1
info:
  title: DynamicAPI Self-Evolving Endpoints
  description: 'DynamicAPI is a self-evolving API service that allows for the dynamic generation of endpoints from JSON files. With the ability to create, list, and execute endpoints, DynamicAPI provides a flexible and efficient solution for expanding API functionality. Leveraging the power of ChatGPT, DynamicAPI aims to streamline the process of endpoint creation, making API development faster and more efficient.'
  version: 1.0.0
servers:
  - url: https://dynamicapi.madebyaibots.com
paths:
  /file-line-replace:
    post:
      operationId: fileLineReplace
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              required:
                - workingDirectory
                - filePath
                - lineNumber
                - newContent
              type: object
              properties:
                workingDirectory:
                  type: string
                filePath:
                  type: string
                lineNumber:
                  type: string
                newContent:
                  type: string
      responses:
        '200':
          description: Line replaced successfully
        '400':
          description: Bad request
  /file-search-content:
    post:
      operationId: fileSearchContent
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              required:
                - workingDirectory
                - query
                - recursive
              type: object
              properties:
                workingDirectory:
                  type: string
                query:
                  type: string
                recursive:
                  type: string
      responses:
        '200':
          description: Search completed successfully
        '400':
          description: Bad request
  /file-append:
    post:
      operationId: fileAppend
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              required:
                - workingDirectory
                - filePath
                - content
                - addNewline
              type: object
              properties:
                workingDirectory:
                  type: string
                filePath:
                  type: string
                content:
                  type: string
                addNewline:
                  type: string
      responses:
        '200':
          description: Content appended successfully
        '400':
          description: Bad request
  /file-read-lines:
    post:
      operationId: fileReadLines
      parameters:
        - name: workingDirectory
          in: query
          description: The base path where the file is located.
          required: true
          schema:
            type: string
        - name: filePath
          in: query
          description: 'The path of the file to be read, relative to the working directory.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File read successfully
        '400':
          description: Bad request
  /file-line-insert:
    post:
      operationId: fileLineInsert
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              required:
                - workingDirectory
                - filePath
                - beforeLineNumber
                - newContent
              type: object
              properties:
                workingDirectory:
                  type: string
                filePath:
                  type: string
                beforeLineNumber:
                  type: string
                newContent:
                  type: string
      responses:
        '200':
          description: Line inserted successfully
        '400':
          description: Bad request
  /file-copy:
    get:
      operationId: fileCopy
      parameters:
        - name: workingDirectory
          in: query
          description: The base path where the file is located.
          required: true
          schema:
            type: string
        - name: sourcePath
          in: query
          description: 'The source file path, relative to the working directory.'
          required: true
          schema:
            type: string
        - name: destinationPath
          in: query
          description: 'The destination file path, relative to the working directory.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File copied successfully
        '400':
          description: Bad request
  /csharp-hello-world:
    get:
      operationId: csharpHelloWorld
      responses:
        '200':
          description: A successful response
        '400':
          description: A bad request response
  /file-update:
    post:
      operationId: fileUpdate
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              required:
                - workingDirectory
                - filePath
                - content
              type: object
              properties:
                workingDirectory:
                  type: string
                filePath:
                  type: string
                content:
                  type: string
      responses:
        '200':
          description: File updated successfully
        '400':
          description: Bad request
  /file-move:
    post:
      operationId: fileMove
      parameters:
        - name: workingDirectory
          in: query
          description: The base path where the file is located.
          required: true
          schema:
            type: string
        - name: sourcePath
          in: query
          description: 'The source file path, relative to the working directory.'
          required: true
          schema:
            type: string
        - name: destinationPath
          in: query
          description: 'The destination file path, relative to the working directory.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File moved successfully
        '400':
          description: Bad request
  /file-prepend:
    post:
      operationId: filePrepend
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              required:
                - workingDirectory
                - filePath
                - content
                - addNewline
              type: object
              properties:
                workingDirectory:
                  type: string
                filePath:
                  type: string
                content:
                  type: string
                addNewline:
                  type: string
      responses:
        '200':
          description: Content prepended successfully
        '400':
          description: Bad request
  /file-create:
    post:
      operationId: fileCreate
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              required:
                - workingDirectory
                - filePath
                - content
              type: object
              properties:
                workingDirectory:
                  type: string
                filePath:
                  type: string
                content:
                  type: string
      responses:
        '200':
          description: File created successfully
        '400':
          description: Bad request
  /file-line-delete:
    post:
      operationId: fileLineDelete
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              required:
                - workingDirectory
                - filePath
                - lineNumber
              type: object
              properties:
                workingDirectory:
                  type: string
                filePath:
                  type: string
                lineNumber:
                  type: string
      responses:
        '200':
          description: Line deleted successfully
        '400':
          description: Bad request
  /execute:
    post:
      operationId: execute
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              required:
                - command
                - workingDirectory
              type: object
              properties:
                command:
                  type: string
                workingDirectory:
                  type: string
      responses:
        '200':
          description: A successful response
        '400':
          description: A bad request response
  /directory-list:
    post:
      operationId: directoryList
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              required:
                - workingDirectory
              type: object
              properties:
                workingDirectory:
                  type: string
      responses:
        '200':
          description: Directory listed successfully
        '400':
          description: Bad request
  /endpoint-list:
    get:
      operationId: endpointList
      responses:
        '200':
          description: A successful response
        '400':
          description: A bad request response