openapi: 3.0.1
info:
  title: DynamicAPI Self-Evolving Endpoints
  description: 'DynamicAPI is a self-evolving API service that allows for the dynamic generation of endpoints from JSON files. With the ability to create, list, and execute endpoints, DynamicAPI provides a flexible and efficient solution for expanding API functionality. Leveraging the power of ChatGPT, DynamicAPI aims to streamline the process of endpoint creation, making API development faster and more efficient.'
  version: 1.0.0
servers:
  - url: https://dynamicapi.madebyaibots.com
paths:
  /file-line-replace:
    get:
      operationId: fileLineReplace
      parameters:
        - name: working-directory
          description: The base path where the file is located.
          required: true
          schema:
            type: json
        - name: file-path
          description: 'The path of the file to replace a line in, relative to the working directory.'
          required: true
          schema:
            type: json
        - name: line-number
          description: The line number to replace.
          required: true
          schema:
            type: json
        - name: new-content
          description: The new content to replace the old content with.
          required: true
          schema:
            type: json
      responses:
        '200':
          description: Line replaced successfully
        '400':
          description: Bad request
  /file-append:
    get:
      operationId: fileAppend
      parameters:
        - name: working-directory
          description: The base path where the file is located.
          required: true
          schema:
            type: json
        - name: file-path
          description: 'The path of the file to append to, relative to the working directory.'
          required: true
          schema:
            type: json
        - name: content
          description: The content to append.
          required: true
          schema:
            type: json
        - name: add-newline
          description: Optional. Whether to add a newline character between the existing content and the new content. Defaults to true.
          required: true
          schema:
            type: json
      responses:
        '200':
          description: Content appended successfully
        '400':
          description: Bad request
  /file-read-lines:
    get:
      operationId: fileReadLines
      parameters:
        - name: working-directory
          description: The base path where the file is located.
          required: true
          schema:
            type: json
        - name: file-path
          description: 'The path of the file to be read, relative to the working directory.'
          required: true
          schema:
            type: json
      responses:
        '200':
          description: File read successfully
        '400':
          description: Bad request
  /file-line-insert:
    get:
      operationId: fileLineInsert
      parameters:
        - name: working-directory
          description: The base path where the file is located.
          required: true
          schema:
            type: json
        - name: file-path
          description: 'The path of the file to insert a line into, relative to the working directory.'
          required: true
          schema:
            type: json
        - name: before-line-number
          description: The line number before which to insert the new content.
          required: true
          schema:
            type: json
        - name: new-content
          description: The new content to insert.
          required: true
          schema:
            type: json
      responses:
        '200':
          description: Line inserted successfully
        '400':
          description: Bad request
  /file-search:
    get:
      operationId: fileSearch
      parameters:
        - name: working-directory
          description: The base path where the file is located.
          required: true
          schema:
            type: string
        - name: file-path
          description: 'The path of the file to search in, relative to the working directory.'
          required: true
          schema:
            type: string
        - name: query
          description: The search query.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Search results, including line numbers and the matching content.'
        '400':
          description: Bad request
  /file-copy:
    get:
      operationId: fileCopy
      parameters:
        - name: working-directory
          description: The base path where the file is located.
          required: true
          schema:
            type: string
        - name: source-path
          description: 'The source file path, relative to the working directory.'
          required: true
          schema:
            type: string
        - name: destination-path
          description: 'The destination file path, relative to the working directory.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File copied successfully
        '400':
          description: Bad request
  /csharp-hello-world:
    get:
      operationId: csharpHelloWorld
      responses:
        '200':
          description: A successful response
        '400':
          description: A bad request response
  /file-update:
    get:
      operationId: fileUpdate
      parameters:
        - name: working-directory
          description: The base path where the file is located.
          required: true
          schema:
            type: json
        - name: file-path
          description: 'The path of the file to be updated, relative to the working directory.'
          required: true
          schema:
            type: json
        - name: content
          description: The content to update the file with.
          required: true
          schema:
            type: json
      responses:
        '200':
          description: File updated successfully
        '400':
          description: Bad request
  /file-move:
    post:
      operationId: fileMove
      parameters:
        - name: working-directory
          description: The base path where the file is located.
          required: true
          schema:
            type: string
        - name: source-path
          description: 'The source file path, relative to the working directory.'
          required: true
          schema:
            type: string
        - name: destination-path
          description: 'The destination file path, relative to the working directory.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File moved successfully
        '400':
          description: Bad request
  /file-prepend:
    get:
      operationId: filePrepend
      parameters:
        - name: working-directory
          description: The base path where the file is located.
          required: true
          schema:
            type: json
        - name: file-path
          description: 'The path of the file to prepend to, relative to the working directory.'
          required: true
          schema:
            type: json
        - name: content
          description: The content to prepend.
          required: true
          schema:
            type: json
        - name: add-newline
          description: Optional. Whether to add a newline character between the existing content and the new content. Defaults to true.
          required: true
          schema:
            type: json
      responses:
        '200':
          description: Content prepended successfully
        '400':
          description: Bad request
  /file-create:
    get:
      operationId: fileCreate
      parameters:
        - name: working-directory
          description: The base path where the file will be created.
          required: true
          schema:
            type: json
        - name: file-path
          description: 'The path of the file to be created, relative to the working directory.'
          required: true
          schema:
            type: json
        - name: content
          description: The content to write to the file.
          required: true
          schema:
            type: json
      responses:
        '200':
          description: File created successfully
        '400':
          description: Bad request
  /file-line-delete:
    get:
      operationId: fileLineDelete
      parameters:
        - name: working-directory
          description: The base path where the file is located.
          required: true
          schema:
            type: json
        - name: file-path
          description: 'The path of the file to delete a line from, relative to the working directory.'
          required: true
          schema:
            type: json
        - name: line-number
          description: The line number to delete.
          required: true
          schema:
            type: json
      responses:
        '200':
          description: Line deleted successfully
        '400':
          description: Bad request
  /execute:
    get:
      operationId: execute
      parameters:
        - name: command
          description: The bash command to execute.
          required: true
          schema:
            type: json
        - name: working-directory
          description: The base working directory to execute the command in.
          required: true
          schema:
            type: json
      responses:
        '200':
          description: A successful response
        '400':
          description: A bad request response
  /directory-list:
    get:
      operationId: directoryList
      parameters:
        - name: working-directory
          description: The base path of the directory to list.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Directory listing
        '400':
          description: Bad request
  /endpoint-list:
    get:
      operationId: endpointList
      responses:
        '200':
          description: A successful response
        '400':
          description: A bad request response