openapi: 3.0.1
info:
  title: DynamicAPI Self-Evolving Endpoints
  description: 'DynamicAPI is a self-evolving API service that allows for the dynamic generation of endpoints from JSON files. With the ability to create, list, and execute endpoints, DynamicAPI provides a flexible and efficient solution for expanding API functionality. Leveraging the power of ChatGPT, DynamicAPI aims to streamline the process of endpoint creation, making API development faster and more efficient.'
  version: 1.0.0
servers:
  - url: https://dynamicapi.madebyaibots.com
paths:
  /file-line-replace:
    get:
      operationId: fileLineReplace
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              type: object
              properties:
                working-directory:
                  type: string
                file-path:
                  type: string
                line-number:
                  type: string
                new-content:
                  type: string
      responses:
        '200':
          description: Line replaced successfully
        '400':
          description: Bad request
  /file-append:
    get:
      operationId: fileAppend
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              type: object
              properties:
                working-directory:
                  type: string
                file-path:
                  type: string
                content:
                  type: string
                add-newline:
                  type: string
      responses:
        '200':
          description: Content appended successfully
        '400':
          description: Bad request
  /file-read-lines:
    get:
      operationId: fileReadLines
      parameters:
        - name: working-directory
          in: query
          description: The base path where the file is located.
          required: true
          schema:
            type: string
        - name: file-path
          in: query
          description: 'The path of the file to be read, relative to the working directory.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File read successfully
        '400':
          description: Bad request
  /file-line-insert:
    get:
      operationId: fileLineInsert
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              type: object
              properties:
                working-directory:
                  type: string
                file-path:
                  type: string
                before-line-number:
                  type: string
                new-content:
                  type: string
      responses:
        '200':
          description: Line inserted successfully
        '400':
          description: Bad request
  /file-search:
    get:
      operationId: fileSearch
      parameters:
        - name: working-directory
          in: query
          description: The base path where the file is located.
          required: true
          schema:
            type: string
        - name: file-path
          in: query
          description: 'The path of the file to search in, relative to the working directory.'
          required: true
          schema:
            type: string
        - name: query
          in: query
          description: The search query.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 'Search results, including line numbers and the matching content.'
        '400':
          description: Bad request
  /file-copy:
    get:
      operationId: fileCopy
      parameters:
        - name: working-directory
          in: query
          description: The base path where the file is located.
          required: true
          schema:
            type: string
        - name: source-path
          in: query
          description: 'The source file path, relative to the working directory.'
          required: true
          schema:
            type: string
        - name: destination-path
          in: query
          description: 'The destination file path, relative to the working directory.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File copied successfully
        '400':
          description: Bad request
  /csharp-hello-world:
    get:
      operationId: csharpHelloWorld
      responses:
        '200':
          description: A successful response
        '400':
          description: A bad request response
  /file-update:
    get:
      operationId: fileUpdate
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              type: object
              properties:
                working-directory:
                  type: string
                file-path:
                  type: string
                content:
                  type: string
      responses:
        '200':
          description: File updated successfully
        '400':
          description: Bad request
  /file-move:
    post:
      operationId: fileMove
      parameters:
        - name: working-directory
          in: query
          description: The base path where the file is located.
          required: true
          schema:
            type: string
        - name: source-path
          in: query
          description: 'The source file path, relative to the working directory.'
          required: true
          schema:
            type: string
        - name: destination-path
          in: query
          description: 'The destination file path, relative to the working directory.'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: File moved successfully
        '400':
          description: Bad request
  /file-prepend:
    get:
      operationId: filePrepend
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              type: object
              properties:
                working-directory:
                  type: string
                file-path:
                  type: string
                content:
                  type: string
                add-newline:
                  type: string
      responses:
        '200':
          description: Content prepended successfully
        '400':
          description: Bad request
  /file-create:
    get:
      operationId: fileCreate
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              type: object
              properties:
                working-directory:
                  type: string
                file-path:
                  type: string
                content:
                  type: string
      responses:
        '200':
          description: File created successfully
        '400':
          description: Bad request
  /file-line-delete:
    get:
      operationId: fileLineDelete
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              type: object
              properties:
                working-directory:
                  type: string
                file-path:
                  type: string
                line-number:
                  type: string
      responses:
        '200':
          description: Line deleted successfully
        '400':
          description: Bad request
  /execute:
    get:
      operationId: execute
      requestBody:
        description: request body
        content:
          application/json:
            schema:
              type: object
              properties:
                command:
                  type: string
                working-directory:
                  type: string
      responses:
        '200':
          description: A successful response
        '400':
          description: A bad request response
  /directory-list:
    get:
      operationId: directoryList
      parameters:
        - name: working-directory
          in: query
          description: The base path of the directory to list.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Directory listing
        '400':
          description: Bad request
  /endpoint-list:
    get:
      operationId: endpointList
      responses:
        '200':
          description: A successful response
        '400':
          description: A bad request response